In [1]:
import pandas as pd
import numpy as np
import sys
import sklearn

In [2]:
df = pd.read_csv('.../kddpretrainPre.csv')
df_test = pd.read_csv('.../kddpretestPre.csv')

In [3]:
X_train = df.drop('label',1)
Y_train = df.label

X_test = df_test.drop('label',1)
Y_test = df_test.label

In [4]:
colNames=list(X_train)
colNames_test=list(X_test)

In [5]:
from sklearn import preprocessing

scaler0 = preprocessing.StandardScaler().fit(X_train)
X_train=scaler0.transform(X_train)

scaler1 = preprocessing.StandardScaler().fit(X_test)
X_test=scaler1.transform(X_test)

In [6]:
X_rfetrain = X_train

In [7]:
print(X_rfetrain.shape)

(125973, 122)

In [8]:
X_test2=X_test

In [95]:
from sklearn.ensemble import RandomForestClassifier
clf_rfe=RandomForestClassifier(max_depth=1,n_estimators=1,n_jobs=2)
clf_rfe.fit(X_rfetrain, Y_train.astype(int))

RandomForestClassifier(max_depth=1, n_estimators=1, n_jobs=2)

In [96]:
Y_pred2=clf_rfe.predict(X_test2)
# Create confusion matrix
pd.crosstab(Y_test, Y_pred2, rownames=['Actual attacks'], colnames=['Predicted attacks'])

Predicted attacks     0     1
Actual attacks
0                  9458   253
1                  3060  4400
2                   829  1592
3                  2776   109
4                    67     0

In [91]:
from sklearn.model_selection import cross_val_score
from sklearn import metrics

In [12]:
#accuracy = cross_val_score(clf_rfe, X_test2, Y_test, cv=5, scoring='accuracy')
#print("Accuracy: %0.5f (+/- %0.5f)" % (accuracy.mean(), accuracy.std() * 2))

In [113]:
from sklearn.neighbors import KNeighborsClassifier

clf_KNN=KNeighborsClassifier(n_neighbors=10000)
clf_KNN.fit(X_rfetrain, Y_train.astype(int))

KNeighborsClassifier(n_neighbors=10000)

In [114]:
Y_pred=clf_KNN.predict(X_test2)

pd.crosstab(Y_test, Y_pred, rownames=['Actual attacks'], colnames=['Predicted attacks'])

Predicted attacks     0     1    2
Actual attacks
0                  9573   131    7
1                  2363  4756  341
2                  1526   878   17
3                  2872    13    0
4                    67     0    0

In [115]:
#accuracy = cross_val_score(clf_KNN, X_test2, Y_test, cv=10, scoring='accuracy')
#print("Accuracy: %0.5f (+/- %0.5f)" % (accuracy.mean(), accuracy.std() * 2))

In [116]:
from sklearn.svm import SVC

clf_SVM=SVC(kernel='linear', C=1.0, random_state=0)
clf_SVM.fit(X_rfetrain, Y_train.astype(int))

SVC(kernel='linear', random_state=0)

In [117]:
Y_pred=clf_SVM.predict(X_test2)

pd.crosstab(Y_test, Y_pred, rownames=['Actual attacks'], colnames=['Predicted attacks'])

Predicted attacks     0     1     2   3   4
Actual attacks
0                  9125   361   224   1   0
1                   993  6063   303  63  38
2                   654   398  1366   1   2
3                  2830    32    22   1   0
4                    57     7     0   3   0

In [118]:
#accuracy = cross_val_score(clf_SVM, X_test2, Y_test, cv=5, scoring='accuracy')
#print("Accuracy: %0.5f (+/- %0.5f)" % (accuracy.mean(), accuracy.std() * 2))

In [119]:
from sklearn.linear_model import LogisticRegression

clf_lg = LogisticRegression(random_state=0,solver='liblinear',C=10.0)
clf_lg.fit(X_rfetrain, Y_train.astype(int))

LogisticRegression(C=10.0, random_state=0, solver='liblinear')

In [120]:
Y_pred=clf_lg.predict(X_test2)

pd.crosstab(Y_test, Y_pred, rownames=['Actual attacks'], colnames=['Predicted attacks'])

Predicted attacks     0     1     2    3   4
Actual attacks
0                  8382   787   509    9  24
1                   908  6223    13  313   3
2                   407   352  1658    2   2
3                  2747    44    85    6   3
4                    33    16     5    7   6

In [121]:
#accuracy = cross_val_score(clf_lg, X_test2, Y_test, cv=10, scoring='accuracy')
#print("Accuracy: %0.5f (+/- %0.5f)" % (accuracy.mean(), accuracy.std() * 2))

In [122]:
from sklearn.ensemble import AdaBoostClassifier
from sklearn.tree import DecisionTreeClassifier
clf1 = DecisionTreeClassifier(max_depth = 2,random_state=0)

clf_ab = AdaBoostClassifier(base_estimator=clf1,n_estimators=1,random_state=0)
clf_ab.fit(X_rfetrain, Y_train.astype(int))

AdaBoostClassifier(base_estimator=DecisionTreeClassifier(max_depth=2,
                                                         random_state=0),
                   n_estimators=1, random_state=0)

In [123]:
Y_pred=clf_ab.predict(X_test2)

pd.crosstab(Y_test, Y_pred, rownames=['Actual attacks'], colnames=['Predicted attacks'])

Predicted attacks    0     1
Actual attacks
0                  153  9558
1                  819  6641
2                    0  2421
3                  237  2648
4                    3    64

In [124]:
#accuracy = cross_val_score(clf_ab, X_test2, Y_test, cv=10, scoring='accuracy')
#print("Accuracy: %0.5f (+/- %0.5f)" % (accuracy.mean(), accuracy.std() * 2))

In [125]:
from sklearn.tree import DecisionTreeClassifier

clf_dt=DecisionTreeClassifier(max_depth = 4,random_state=0)
clf_dt.fit(X_rfetrain, Y_train)

DecisionTreeClassifier(max_depth=4, random_state=0)

In [126]:
Y_pred2=clf_dt.predict(X_test2)

pd.crosstab(Y_test, Y_pred2, rownames=['Actual attacks'], colnames=['Predicted attacks'])

Predicted attacks     0     1     2
Actual attacks
0                  8409  1150   152
1                  1901  5524    35
2                    84  1295  1042
3                  1535  1345     5
4                     7    60     0

In [127]:
#accuracy = cross_val_score(clf_dt, X_test2, Y_test, cv=5, scoring='accuracy')
#print("Accuracy: %0.5f (+/- %0.5f)" % (accuracy.mean(), accuracy.std() * 2))

In [128]:
from sklearn.ensemble import VotingClassifier

clf_voting = VotingClassifier(estimators=[('rf', clf_rfe), ('knn', clf_KNN), ('svm', clf_SVM), ('lR', clf_lg), ('Adabst', clf_ab), ('dt', clf_dt)], voting='hard')
clf_voting.fit(X_rfetrain, Y_train.astype(int))

VotingClassifier(estimators=[('rf',
                              RandomForestClassifier(max_depth=1,
                                                     n_estimators=1,
                                                     n_jobs=2)),
                             ('knn', KNeighborsClassifier(n_neighbors=10000)),
                             ('svm', SVC(kernel='linear', random_state=0)),
                             ('lR',
                              LogisticRegression(C=10.0, random_state=0,
                                                 solver='liblinear')),
                             ('Adabst',
                              AdaBoostClassifier(base_estimator=DecisionTreeClassifier(max_depth=2,
                                                                                       random_state=0),
                                                 n_estimators=1,
                                                 random_state=0)),
                             ('dt',
                              DecisionTreeClassifier(max_depth=4,
                                                     random_state=0))])

In [129]:
Y_pred=clf_voting.predict(X_test2)

pd.crosstab(Y_test, Y_pred, rownames=['Actual attacks'], colnames=['Predicted attacks'])

Predicted attacks     0     1    2
Actual attacks
0                  9388   230   93
1                  2032  5419    9
2                  1102   465  854
3                  2874    11    0
4                    58     9    0

In [130]:
accuracy = cross_val_score(clf_voting, X_test2, Y_test, cv=10, scoring='accuracy')
print("Accuracy: %0.5f (+/- %0.5f)" % (accuracy.mean(), accuracy.std() * 2))

Accuracy: 0.88383 (+/- 0.02340)